@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #2a363b;
}

.header {
    display: flex;
    justify-content: center;
}

p {
    color: #fff;
    font-size: 1px;
}

button {
    cursor: pointer;
    display: flex;

}

.games-images {
    width: 300px;
    height: 250px;
}

.buttons {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}